<h1>投稿詳細</h1>
<%#= @attachment_image_tag @post, :image %>
<%= @post.name %>
<%= @post.introduction %>
<%#= @post.star %>
<!--いいね機能-->
<%#= @post.user.name %>
<!--投稿者ならば<%#= link_to "投稿を編集する", %>-->
<!--右に地図とマーカーを表示-->